
testDemo\.xcodeproj/xcuserdata/spega\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

testDemo\.xcodeproj/xcuserdata/spegadeveloper\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

testDemo\.xcodeproj/xcuserdata/spegadeveloper\.xcuserdatad/xcschemes/xcschememanagement\.plist
